<div class="container">
  <div class="row header">
    <div class="col-xs-12">
      <h1>All the news <!-- <small>Showing {{ articles.length }} stories</small> --></h1>
    </div>
    <div class="col-xs-12 sources">
      <ul>
        <li *ngFor="let src of sources | async">
          <button (click)="setSource(src)" 
                  class="btn btn-primary btn-sm"
                  [class.active]="isSourceSelected(src.id)">{{ src.name }}</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- row:Articles -->
  <div class="row articles">
    <spinner [ready]="ready" [message]="'Getting latest stories...'"></spinner>

    <!-- col-3:Article -->
    <div *ngFor="let article of articles" class="col-md-3 col-sm-4 col-xs-6">
      <div class="article">
        <div class="article-image" [ngStyle]="{'background-image': 'url(' + article.urlToImage + ')'}">
          
        </div>
        <!-- <img class="img-fluid" [src]="article.urlToImage"> -->
        <div class="article-content">
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
        </div> 
        <div class="article-footer">
          <a href="{{ article.url }}" target="_blank"> Read more...</a>
        </div>       
      </div>
    </div><!-- /.col-3:Article -->

    <div *ngIf="ready && !articles.length" class="col-12 text-xs-center">
      <p class="text-muted">No sources selected</p>
    </div>

  </div> <!-- /.row:Articles -->
</div>
