.categories {
  text-align: center;
  .btn {
    margin: 5px;
  }
}

.start-toggle {
  position: fixed;
  right: 5px;
  // margin-top: 5px;
}

.collection {
  margin-top: 0;
}

.mt-1 {
  margin-top: 5px;
}
